<article class="product">
    <img class="product_img" src= "/<%=product.image%>" alt="<%=product.category%>" >

    <div class="main-article">
        <i class="fas fa-truck"></i>
        <p class="price"><%=product.price%></p>
        <p class="discount"><%=product.discount%></p>
        <h4 class="description"><%=product.description%></h4>
    </div>


</article>